# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
using storage.html
raw pictures/stars-13.gif
raw pictures/stars-14.gif
*.gif
raw pictures/eBay 60x60.psd
*.psd
publishing/google 640x400.png
publishing/eBay 128x128.png
publishing/chrome_sample-440x280.png
old html code.txt
ebay feedback javascript.txt
publishing/1400x560.png
publishing/autoebayfeedback.zip
publishing/ebay 64x64.png
